<%-include("header");-%>
    <div class="box" id="heading">
    <h1><%=Nophile%></h1> </div>
   <div class="box">
    <ul>
        <!-- <li><%=newItem%></li> -->
   <%  for(i=0; i<newItem.length; i++){  %>
    <div class="item">  
        <input type="checkbox">  
    <p><%=newItem[i]%></p>
</div>
    <% }  %>


    </ul>

   
    <form class="item" action="/" method="post">
      
            <label class="col-form-label mt-4" for="inputDefault"></label>
            <input type="text"name="newItem" class="form-control"  placeholder="New Item" id="inputDefault" data-dashlane-rid="29c58da9ec4e0bc7" data-form-type="other" autofocus>
      
          <button name="button" value="<%=Nophile%>" type="submit" class="btn btn-outline-primary">+</button>
    </form>
</div>
<%-include("footer");-%>